<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>853409872698-oibc9lkaifadh910kt8gtetdt507lk50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853409872698-oibc9lkaifadh910kt8gtetdt507lk50</string>
	<key>API_KEY</key>
	<string>AIzaSyB1JH2IootIlCp6gOeu4sHqrj7WgMR4nPg</string>
	<key>GCM_SENDER_ID</key>
	<string>853409872698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaying.ios.bacon</string>
	<key>PROJECT_ID</key>
	<string>bacon-dev-tsao</string>
	<key>STORAGE_BUCKET</key>
	<string>bacon-dev-tsao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:853409872698:ios:02fc2cec34ec543e</string>
	<key>DATABASE_URL</key>
	<string>https://bacon-dev-tsao.firebaseio.com</string>
</dict>
</plist>