{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "babel"
  ],
  "rules": {
    "no-console": 0,
    "semi": 0
  }
}
