# OSX
#
.DS_Store

# Xcode
#
build/
Index/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
main.jsbundle
main.jsbundle.meta

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
android/app/src/main/res/drawable-mdpi/node_modules_mkpreactnativeimageview_assets_icon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativedatepicker_date_icon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativedropdownmenu_img_dropdown_arrow.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativedropdownmenu_img_menu_check.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeelements_src_rating_images_bell.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeelements_src_rating_images_heart.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeelements_src_rating_images_rocket.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeelements_src_rating_images_star.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeimageplaceholder_images_emptyimage.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativerouterflux_src_back_chevron.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativerouterflux_src_menu_burger.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_boy01.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_boy02.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_boy03.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_boy04.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_boy05.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_boy06.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_boy07.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_boy08.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_boy09.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_boy10.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_boy11.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_boy12.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_girl01.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_girl02.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_girl03.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_girl04.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_girl05.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_girl06.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_girl07.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_girl08.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_girl09.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_girl10.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_girl11.png
android/app/src/main/res/drawable-mdpi/src_app_scenes_drawer_line_components_sticker_imgs_girl12.png
android/app/src/main/res/drawable-mdpi/src_images_a.jpg
android/app/src/main/res/drawable-mdpi/src_images_b.jpg
android/app/src/main/res/drawable-mdpi/src_images_btn_chat_album.png
android/app/src/main/res/drawable-mdpi/src_images_btn_chat_send.png
android/app/src/main/res/drawable-mdpi/src_images_btn_chat_shot.png
android/app/src/main/res/drawable-mdpi/src_images_c.jpg
android/app/src/main/res/drawable-mdpi/src_images_d.jpg
android/app/src/main/res/drawable-mdpi/src_images_e.jpg
android/app/src/main/res/drawable-mdpi/src_images_f.jpg
android/app/src/main/res/drawable-mdpi/src_images_ico_qy_head_preload.png
android/app/src/main/res/drawable-mdpi/src_images_loading_icon.gif
android/app/src/main/res/drawable-xhdpi/node_modules_reactnativedropdownmenu_img_dropdown_arrow.png
android/app/src/main/res/drawable-xhdpi/node_modules_reactnativedropdownmenu_img_menu_check.png
android/app/src/main/res/drawable-xxhdpi/node_modules_reactnativedropdownmenu_img_dropdown_arrow.png
android/app/src/main/res/drawable-xxhdpi/node_modules_reactnativedropdownmenu_img_menu_check.png
android/app/src/main/res/drawable-xxhdpi/src_app_containers_usebonusscene_img_btn_qy_confirm.png
android/app/src/main/res/drawable-xxhdpi/src_app_views_loading_img_ico_intro_logo.png
android/app/src/main/res/drawable-xxhdpi/src_images_ico_logo_nn.png
android/app/src/main/res/drawable-xxhdpi/src_images_ico_logo_pass.png
android/app/src/main/res/drawable-xxhdpi/src_images_ico_reg_mail.png
android/app/src/main/res/drawable-xxxhdpi/src_app_containers_bonusonescene_bonustitlecontainer_img_ico_deposit_1.png
android/app/src/main/res/drawable-xxxhdpi/src_app_containers_bonusonescene_bonustitlecontainer_img_ico_deposit_2.png
android/app/src/main/res/drawable-xxxhdpi/src_app_containers_bonusonescene_bonustitlecontainer_img_ico_deposit_3.png
android/app/src/main/res/drawable-xxxhdpi/src_app_containers_upgradeonescene_upgradetitlecontainer_img_ico_upgrade_1.png
android/app/src/main/res/drawable-xxxhdpi/src_app_containers_upgradeonescene_upgradetitlecontainer_img_ico_upgrade_2.png
android/app/src/main/res/drawable-xxxhdpi/src_app_containers_upgradeonescene_upgradetitlecontainer_img_ico_upgrade_3.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_album_img_btn_album_back.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_album_img_ico_aboutme_profilepic.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_album_img_ico_album_delete.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_baconarrow_img_btn_back.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_baconbadge_img_btn_interest_del.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_baconmenu_img_btn_menu.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_baconredbutton_img_btn_gredient.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_bacontitle_img_ico_titlebar_logo.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_bacontool_img_btn_meet_setting.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_bigavatar_img_btn_index_join.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_bill_img_btn_radio_0.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_bill_img_btn_radio_1.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_birthdaychoose_img_btn_index_join.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_birthdaychoose_img_ico_logo_bd.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_blankbutton_img_btn_index_join.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_cookie_img_ico_qy_head_preload.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_greybutton_img_btn_setting_logout.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_infos_img_btn_meet_block.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_infos_img_ico_aboutme_mail_0.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_infos_img_ico_meet_email_1.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_infos_img_ico_meet_globe.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_infos_img_ico_meet_locate.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_knife_img_bg_setting.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_lang_img_checkbox_reg_n.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_lang_img_checkbox_reg_y.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_loading_img_ico_intro_logo.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_memberupgrade_img_btn_aboutme_upgrade.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_memberupgrade_img_ico_aboutme_premium.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_policy_img_checkbox_reg_n.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_policy_img_checkbox_reg_y.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_qupgrade_img_btn_aboutme_deposit.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_redlinebutton_img_btn_setting_del.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_sexchoose_img_switcher_reg_homo_1.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_sexchoose_img_switcher_reg_homo_2.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_sexchoose_img_switcher_reg_sex_1.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_sexchoose_img_switcher_reg_sex_2.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_sider_img_ico_menu_chat.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_sider_img_ico_menu_column.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_sider_img_ico_menu_meet.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_sider_img_ico_menu_qy.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_sider_img_ico_menu_setting.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_sider_img_ico_menu_yf.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_verityemail_img_ico_aboutme_mail_0.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_verityemail_img_ico_meet_email_1.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_verityphoto_img_ico_aboutme_picture_0.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_verityphoto_img_ico_meet_picture_1.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_wave_img_pic_index_wave.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_welcome_img_btn_gredient.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_welcome_img_btn_index_join.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_welcome_img_btn_index_login.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_welcome_img_ic_index_logo.png
android/app/src/main/res/drawable-xxxhdpi/src_app_views_welcome_img_pic_index_wave.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_meet_dislike.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_meet_keepswiping.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_meet_like.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_meet_startchat.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_qy_chat.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_qy_fav_0.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_qy_fav_1.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_setting_about.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_setting_about_fb.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_setting_account.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_setting_account_fb.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_setting_hide.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_setting_hide_fb.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_setting_noti.png
android/app/src/main/res/drawable-xxxhdpi/src_images_btn_setting_noti_fb.png
android/app/src/main/res/drawable-xxxhdpi/src_images_ico_logo_nn.png
android/app/src/main/res/drawable-xxxhdpi/src_images_ico_logo_pass.png
android/app/src/main/res/drawable-xxxhdpi/src_images_ico_meet_likeeo_heart.png
android/app/src/main/res/drawable-xxxhdpi/src_images_ico_reg_mail.png
